* {
  box-sizing: border-box;
}

.App {
  background: #eeeeee;
}

.App-logo {
  background: white;
  animation: App-logo-spin infinite 60s;
  height: 32px;
  width: 32px;
  margin-right: 16px;
}

.App-header {
  background-color: #abb3bc;
  padding: 32px;
  color: white;
}

.App-header h1 {
  display: flex;
  padding: 0;
  margin: 0;
  line-height: 32px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  2% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
