.ParticipantRow-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  background: white;
  border-top: 1px solid #dddddd;
}

.ParticipantRow-container > div {
  color: #505050;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  padding: 24px;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ParticipantRow-container > div.ParticipantRow-actions {
  display: flex;
  justify-content: space-around;
}
